<h1>For Iris.csv dataset</h1>

In [26]:
import numpy as np
import pandas as pd

In [27]:
data = pd.read_csv("/home/te/Desktop/31449_DSBDAL/Iris.csv") #read the Iris.csv file

In [28]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [29]:
data.shape

(150, 6)

In [30]:
data.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

<h4> Check whether the dataset contains null values</h4>

In [31]:
data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

<h2 style="font-size: 24px;">Central Tendency Calculation with the help of in-built functions</h2>

In [32]:
from scipy.stats import mode
# Dictionary to store central tendency measures for each numeric column
central_tendency = {}

# Loop through each numeric column in the dataset
for column in data.select_dtypes(include=[float]).columns:
    column_data = data[column]
    mode_result = mode(column_data, nan_policy='omit')  # Handle NaN if any

    central_tendency[column] = {
        "Mean": column_data.mean(),
        "Median": column_data.median(),
        "Mode": mode_value,
        "Midrange": (column_data.min() + column_data.max()) / 2,
    }

central_tendency_df = pd.DataFrame(central_tendency).T
central_tendency_df.index.name = "Attribute"

print("Measures of Central Tendency:")
print(central_tendency_df)

Measures of Central Tendency:
                   Mean  Median  Mode  Midrange
Attribute
SepalLengthCm  5.843333    5.80   0.2      6.10
SepalWidthCm   3.054000    3.00   0.2      3.20
PetalLengthCm  3.758667    4.35   0.2      3.95
PetalWidthCm   1.198667    1.30   0.2      1.30

<h2 style="font-size: 24px;">Central Tendency Calculation without the help of in-built functions</h2>

In [33]:
# Dictionary to store central tendency measures for each column
central_tendency = {}

# Loop through each float column in the dataset
for column in data.select_dtypes(include=[float]).columns:
    column_data = data[column]
    
    # Calculate mean, median, mode, and midrange without using built-in functions
    mean_value = sum(column_data) / len(column_data)
    
    sorted_data = sorted(column_data)
    mid = len(sorted_data) // 2
    
    median_value = (sorted_data[mid] if len(sorted_data) % 2 != 0 
                    else (sorted_data[mid - 1] + sorted_data[mid]) / 2)
    
    freq_dict = {}
    for value in column_data:
        freq_dict[value] = freq_dict.get(value, 0) + 1     
    mode_value = max(freq_dict, key=freq_dict.get)
    
    midrange_value = (min(column_data) + max(column_data)) / 2

    # Store the values in the dictionary
    central_tendency[column] = {
        "Mean": mean_value,
        "Median": median_value,
        "Mode": mode_value,
        "Midrange": midrange_value,
    }

# Convert to a DataFrame for better display
central_tendency_df = pd.DataFrame(central_tendency).T
central_tendency_df.index.name = "Attribute"

print("Measures of Central Tendency for Float Columns:")
print(central_tendency_df)

Measures of Central Tendency for Float Columns:
                   Mean  Median  Mode  Midrange
Attribute
SepalLengthCm  5.843333    5.80   5.0      6.10
SepalWidthCm   3.054000    3.00   3.0      3.20
PetalLengthCm  3.758667    4.35   1.5      3.95
PetalWidthCm   1.198667    1.30   0.2      1.30

In [34]:
data['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

<h2>Measure of Dispersion Calculation</h2>

In [35]:
# Convert data into a DataFrame
df = pd.DataFrame(data)

# Selecting only numerical columns for calculation
numerical_data = df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]

# Calculate range (difference between max and min), variance, standard deviation and quartiles
range_values = numerical_data.max() - numerical_data.min()
variance = numerical_data.var()
std_deviation = numerical_data.std()
quartiles = numerical_data.quantile([0.25, 0.5, 0.75])

# Display results
print(f"Range:\n{range_values}\n")
print(f"Variance:\n{variance}\n")
print(f"Standard Deviation:\n{std_deviation}\n")
print(f"Quartiles (25%, 50%, 75%):\n{quartiles}")

Range:
SepalLengthCm    3.6
SepalWidthCm     2.4
PetalLengthCm    5.9
PetalWidthCm     2.4
dtype: float64

Variance:
SepalLengthCm    0.685694
SepalWidthCm     0.188004
PetalLengthCm    3.113179
PetalWidthCm     0.582414
dtype: float64

Standard Deviation:
SepalLengthCm    0.828066
SepalWidthCm     0.433594
PetalLengthCm    1.764420
PetalWidthCm     0.763161
dtype: float64

Quartiles (25%, 50%, 75%):
      SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0.25            5.1           2.8           1.60           0.3
0.50            5.8           3.0           4.35           1.3
0.75            6.4           3.3           5.10           1.8

<h2>Statistics for a numeric variables grouped by a categorical variable(Species)</h2>

In [37]:

summary_statistics = data.groupby("Species").agg(
    {
        "SepalLengthCm": ["mean", "median", "min", "max", "std"],
        "SepalWidthCm": ["mean", "median", "min", "max", "std"],
        "PetalLengthCm": ["mean", "median", "min", "max", "std"],
        "PetalWidthCm": ["mean", "median", "min", "max", "std"],
    }
)
# Print nicely formatted summary statistics
print("\nSummary Statistics for Iris Dataset (Grouped by Species):")
print(summary_statistics)

Summary Statistics for Iris Dataset (Grouped by Species):
                SepalLengthCm                            SepalWidthCm         \
                         mean median  min  max       std         mean median
Species
Iris-setosa             5.006    5.0  4.3  5.8  0.352490        3.418    3.4
Iris-versicolor         5.936    5.9  4.9  7.0  0.516171        2.770    2.8
Iris-virginica          6.588    6.5  4.9  7.9  0.635880        2.974    3.0

                                    PetalLengthCm                             \
                 min  max       std          mean median  min  max       std
Species
Iris-setosa      2.3  4.4  0.381024         1.464   1.50  1.0  1.9  0.173511
Iris-versicolor  2.0  3.4  0.313798         4.260   4.35  3.0  5.1  0.469911
Iris-virginica   2.2  3.8  0.322497         5.552   5.55  4.5  6.9  0.551895

                PetalWidthCm
                        mean median  min  max       std
Species
Iris-setosa            0.244    0.2  0.1  0.6  0.107210
Iris-versicolor        1.326    1.3  1.0  1.8  0.197753
Iris-virginica         2.026    2.0  1.4  2.5  0.274650

<h1>For nba.csv dataset</h1>

In [38]:
data2 = pd.read_csv("/home/te/Desktop/31449_DSBDAL/nba.csv") #read from nba.csv

In [39]:
data2.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [40]:
data2.shape

(458, 9)

In [41]:
data2.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [42]:
data2.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [43]:
columns_to_convert = ['Name','College']
data2[columns_to_convert] = data2[columns_to_convert].apply(lambda x: x.astype('string'))
data2.dtypes

Name        string[python]
Team                object
Number             float64
Position            object
Age                float64
Height              object
Weight             float64
College     string[python]
Salary             float64
dtype: object

In [44]:
data2 = data2.fillna({
    'College': 'Unknown',
    'Salary': data2['Salary'].mean()  # Filling Salary NaN with its mean
})
data2.isnull().sum()

Name        1
Team        1
Number      1
Position    1
Age         1
Height      1
Weight      1
College     0
Salary      0
dtype: int64

<h2 style="font-size: 24px;">Central Tendency Calculation with the help of in-built functions</h2>

In [45]:
from scipy.stats import mode
# Dictionary to store central tendency measures for each numeric column
central_tendency = {}

# Loop through each numeric column in the dataset
for column in data2.select_dtypes(include=[float]).columns:
    column_data = data2[column]
    mode_result = mode(column_data, nan_policy='omit')  # Handle NaN if any

    central_tendency[column] = {
        "Mean": column_data.mean(),
        "Median": column_data.median(),
        "Mode": mode_value,
        "Midrange": (column_data.min() + column_data.max()) / 2,
    }

central_tendency_df = pd.DataFrame(central_tendency).T
central_tendency_df.index.name = "Attribute"

print("Measures of Central Tendency:")
print(central_tendency_df)

Measures of Central Tendency:
                   Mean     Median  Mode    Midrange
Attribute
Number     1.767834e+01       13.0   0.2        49.5
Age        2.693873e+01       26.0   0.2        29.5
Weight     2.215230e+02      220.0   0.2       234.0
Salary     4.842684e+06  2880600.0   0.2  12515444.0

<h2 style="font-size: 24px;">Central Tendency Calculation without in-built functions</h2>

In [46]:
import math
# Dictionary to store central tendency measures for each column
central_tendency = {}

# Loop through each float column in the dataset
for column in data2.select_dtypes(include=[float]).columns:
    column_data = data2[column]
    
    # Calculate mean, median, mode, and midrange without using built-in functions
    filtered_data = [value for value in column_data if not math.isnan(value)]

    # Calculate mean (ignoring NaN)
    mean_value = sum(filtered_data) / len(filtered_data)
    sorted_data = sorted(column_data)
    mid = len(sorted_data) // 2
    
    median_value = (sorted_data[mid] if len(sorted_data) % 2 != 0 
                    else (sorted_data[mid - 1] + sorted_data[mid]) / 2)
    
    freq_dict = {}
    for value in column_data:
        freq_dict[value] = freq_dict.get(value, 0) + 1     
    mode_value = max(freq_dict, key=freq_dict.get)
    
    midrange_value = (min(column_data) + max(column_data)) / 2

    # Store the values in the dictionary
    central_tendency[column] = {
        "Mean": mean_value,
        "Median": median_value,
        "Mode": mode_value,
        "Midrange": midrange_value,
    }

# Convert to a DataFrame for better display
central_tendency_df = pd.DataFrame(central_tendency).T
central_tendency_df.index.name = "Attribute"

print("Measures of Central Tendency for Float Columns:")
print(central_tendency_df)

Measures of Central Tendency for Float Columns:
                   Mean     Median      Mode    Midrange
Attribute
Number     1.767834e+01       13.0       5.0        49.5
Age        2.693873e+01       26.0      24.0        29.5
Weight     2.215230e+02      220.0     220.0       234.0
Salary     4.842684e+06  2880600.0  947276.0  12515444.0

<h2>Statistics for a numeric variable grouped by a categorical variable</h2>

In [55]:

summary_statistics = data2.groupby("Team").agg(
    {
        "Weight": ["mean", "median", "min", "max", "std"],
        "Salary": ["mean", "median", "min", "max", "std"]
    }
)
# Print nicely formatted summary statistics
print("\nSummary Statistics for Iris Dataset (Grouped by Species):")
print(summary_statistics)

Summary Statistics for Iris Dataset (Grouped by Species):
                            Weight                                  \
                              mean median    min    max        std
Team
Atlanta Hawks           221.266667  225.0  172.0  260.0  25.982045
Boston Celtics          219.466667  220.0  180.0  260.0  25.606547
Brooklyn Nets           215.600000  216.0  175.0  275.0  24.377390
Charlotte Hornets       220.400000  210.0  184.0  289.0  29.908909
Chicago Bulls           218.933333  225.0  161.0  275.0  29.336634
Cleveland Cavaliers     227.866667  225.0  179.0  275.0  27.655706
Dallas Mavericks        227.000000  230.0  185.0  275.0  27.836256
Denver Nuggets          217.533333  218.0  175.0  280.0  26.297384
Detroit Pistons         222.200000  210.0  172.0  279.0  28.899333
Golden State Warriors   224.600000  220.0  175.0  273.0  29.642633
Houston Rockets         220.333333  222.0  185.0  265.0  24.578349
Indiana Pacers          222.266667  225.0  180.0  255.0  25.982045
Los Angeles Clippers    219.733333  225.0  175.0  265.0  28.265240
Los Angeles Lakers      227.066667  230.0  175.0  270.0  30.167311
Memphis Grizzlies       218.000000  223.0  165.0  270.0  30.624865
Miami Heat              218.400000  220.0  165.0  265.0  26.481260
Milwaukee Bucks         224.062500  223.5  190.0  265.0  24.340553
Minnesota Timberwolves  228.642857  233.5  189.0  307.0  30.890893
New Orleans Pelicans    221.000000  220.0  170.0  270.0  25.731520
New York Knicks         223.625000  215.0  195.0  278.0  25.038304
Oklahoma City Thunder   229.400000  230.0  185.0  255.0  22.260792
Orlando Magic           213.357143  214.0  169.0  260.0  30.047673
Philadelphia 76ers      222.133333  215.0  175.0  275.0  27.015516
Phoenix Suns            218.600000  215.0  175.0  260.0  27.218166
Portland Trail Blazers  218.600000  215.0  173.0  265.0  25.178789
Sacramento Kings        221.333333  225.0  175.0  270.0  28.019551
San Antonio Spurs       223.933333  230.0  185.0  290.0  29.711630
Toronto Raptors         221.800000  220.0  190.0  255.0  22.662745
Utah Jazz               220.000000  226.0  179.0  265.0  24.695286
Washington Wizards      219.000000  218.0  190.0  250.0  21.672893

                              Salary                                       \
                                mean        median        min         max
Team
Atlanta Hawks           4.860197e+06  2.854940e+06   525093.0  18671659.0
Boston Celtics          4.225583e+06  3.425510e+06  1148640.0  12000000.0
Brooklyn Nets           3.501898e+06  1.335480e+06   134215.0  19689000.0
Charlotte Hornets       5.222728e+06  4.204200e+06   189455.0  13500000.0
Chicago Bulls           5.785559e+06  2.380440e+06   525093.0  20093064.0
Cleveland Cavaliers     7.455425e+06  4.950000e+06   111196.0  22970500.0
Dallas Mavericks        4.746582e+06  3.950313e+06   525093.0  16407500.0
Denver Nuggets          4.330974e+06  3.000000e+06   258489.0  14000000.0
Detroit Pistons         4.477884e+06  2.891760e+06   111444.0  16000000.0
Golden State Warriors   5.924600e+06  3.815000e+06   289755.0  15501000.0
Houston Rockets         5.018868e+06  2.288205e+06   200600.0  22359364.0
Indiana Pacers          4.450122e+06  4.000000e+06   211744.0  17120106.0
Los Angeles Clippers    6.323643e+06  3.110796e+06   111444.0  21468695.0
Los Angeles Lakers      4.784695e+06  1.724250e+06   525093.0  25000000.0
Memphis Grizzlies       5.328979e+06  4.842684e+06   700902.0  19688000.0
Miami Heat              6.146736e+06  2.854940e+06   261894.0  22192730.0
Milwaukee Bucks         4.350220e+06  2.254167e+06   295327.0  16407500.0
Minnesota Timberwolves  4.610884e+06  3.049180e+06   947276.0  12700000.0
New Orleans Pelicans    4.355304e+06  2.850000e+06    55722.0  15514031.0
New York Knicks         4.581494e+06  2.225421e+06    30888.0  22875000.0
Oklahoma City Thunder   6.251020e+06  3.344000e+06   222888.0  20158622.0
Orlando Magic           4.297248e+06  3.956580e+06   845059.0  11250000.0
Philadelphia 76ers      2.389039e+06  1.074169e+06   525093.0   6500000.0
Phoenix Suns            4.229676e+06  2.041080e+06    55722.0  13500000.0
Portland Trail Blazers  3.220121e+06  2.854940e+06   525093.0   8042895.0
Sacramento Kings        4.778911e+06  3.156600e+06   525093.0  15851950.0
San Antonio Spurs       5.629516e+06  2.814000e+06   200600.0  19689000.0
Toronto Raptors         4.741174e+06  2.900000e+06   245177.0  13600000.0
Utah Jazz               4.204006e+06  2.433333e+06   900000.0  15409570.0
Washington Wizards      5.088576e+06  4.000000e+06   200600.0  15851950.0


                                 std
Team
Atlanta Hawks           5.194508e+06
Boston Celtics          3.036396e+06
Brooklyn Nets           5.317817e+06
Charlotte Hornets       4.538601e+06
Chicago Bulls           6.251088e+06
Cleveland Cavaliers     7.484116e+06
Dallas Mavericks        5.030279e+06
Denver Nuggets          4.165468e+06
Detroit Pistons         4.668478e+06
Golden State Warriors   5.664282e+06
Houston Rockets         6.414749e+06
Indiana Pacers          4.584514e+06
Los Angeles Clippers    7.600225e+06
Los Angeles Lakers      6.835688e+06
Memphis Grizzlies       4.556591e+06
Miami Heat              7.285680e+06
Milwaukee Bucks         4.875071e+06
Minnesota Timberwolves  3.977783e+06
New Orleans Pelicans    4.537874e+06
New York Knicks         5.952487e+06
Oklahoma City Thunder   6.632400e+06
Orlando Magic           3.068412e+06
Philadelphia 76ers      1.953024e+06
Phoenix Suns            5.022561e+06
Portland Trail Blazers  2.392741e+06
Sacramento Kings        4.701792e+06
San Antonio Spurs       6.396804e+06
Toronto Raptors         4.195943e+06
Utah Jazz               4.467878e+06
Washington Wizards      4.869388e+06

<h2>Measure of Dispersion Calculation</h2>

In [57]:
# Convert data into a DataFrame
df2 = pd.DataFrame(data2)

# Selecting only numerical columns for calculation
numerical_data = df2[['Age', 'Weight', 'Salary']]

# Calculate range (difference between max and min), variance, standard deviation and quartiles
range_values = numerical_data.max() - numerical_data.min()
variance = numerical_data.var()
std_deviation = numerical_data.std()
quartiles = numerical_data.quantile([0.25, 0.5, 0.75])

# Display results
print(f"Range:\n{range_values}\n")
print(f"Variance:\n{variance}\n")
print(f"Standard Deviation:\n{std_deviation}\n")
print(f"Quartiles (25%, 50%, 75%):\n{quartiles}")

Range:
Age             21.0
Weight         146.0
Salary    24969112.0
dtype: float64

Variance:
Age       1.939536e+01
Weight    6.952895e+02
Salary    2.662690e+13
dtype: float64

Standard Deviation:
Age       4.404016e+00
Weight    2.636834e+01
Salary    5.160126e+06
dtype: float64

Quartiles (25%, 50%, 75%):
       Age  Weight     Salary
0.25  24.0   200.0  1100602.0
0.50  26.0   220.0  2880600.0
0.75  30.0   240.0  6323553.0